.profile{
    max-width: 150px;
    max-height: 150px;
    border: 2px solid lightblue;
    border-radius: 50%;
}
.table {
    width: 100%;
    border-collapse: collapse;
  }
  .table tr td{
    padding: 20px 50px;
    border: 1px solid lightblue ;
  }
 .body{
    font-family: monospace;
 }
 h1,h3{
    font-family: monospace;
 }