
<mat-card style="margin-top: 20px;">
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink='/admin'>
            <mat-icon mat-list-icon>home</mat-icon> Home
        </button>
        <button mat-list-item routerLink="'/admin/profile" routerLink="/admin/profile">

            <mat-icon mat-list-icon>account_circle</mat-icon> Profile
        </button>
        <button mat-list-item routerLink='/admin/add-employee'>
            <mat-icon mat-list-icon>holiday_village</mat-icon> Add Employee
        </button>
        <button mat-list-item routerLink='/employee/raise-leave-request'>
            <mat-icon mat-list-icon>back_hand</mat-icon> Raise Leave Request
        </button>
        <button mat-list-item routerLink='/employee/notification'>
            <mat-icon mat-list-icon>notifications</mat-icon> Notification
        </button>
        
        <button mat-list-item (click)="logout()">
            <mat-icon mat-list-icon>meeting_room</mat-icon>Logout
        </button>
</mat-action-list>
</mat-card>  
